#game-container {
  overflow-y: auto;
  border: 2px solid black;
  line-height:normal;
  position:relative;
}

@media (max-width: 768px) {
    #game-container {
      width: 100%;
      height:430px;
    }
}

@media (min-width: 768px) {
    #game-container {
      width: 710px;
      height:510px;
    }
}


#map-container {
	position:relative;
	font-family:Helvetica;
	min-height: 480px;
	padding-top:3%;
}

#next {
	cursor:default;
}

#map-container-mobile {
	position:relative;
	font-family:Helvetica;
	padding-top:3%;
}

#quiz_title {
	position:absolute;
	left:5%;
	top:30px;
	font-size:18px;
	font-family:Helvetica;
	float:left;
}

#score-and-timer {
	position:absolute;
	right:5%;
	bottom:0;
	font-size:15px;
	font-family:Helvetica;
	float:right;
}

#user-hint {
	float:right;
	position:absolute;
	right:5%;
	bottom:0;
	font-size:15px;
}

#timer {
	float:right;
}

#question-container {
	position:relative;
}

#question-container-mobile {
	position:relative;
}

#question-text {
	padding-left:15%;
	padding-top:21%;
	font-size:20px;
	font-family:Helvetica;
}

#question-text-mobile {
	padding-left:8%;
	padding-top:31%;
	font-size:20px;
	font-family:Helvetica;
}

#map {
	height: 350px;
	width: 80%;
}

#map-mobile {
	height: 250px;
	width: 80%;
}

#borders-sentence {
	padding-top:1%;
	width: 80%;
}